/* SCROLLBAR STYLE */

.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--clr-black) var(--clr-black);
	overflow-y: scroll;
	transition: scrollbar-color 95ms ease;
}

.scrollbar:hover {
	scrollbar-color: var(--clr-gray) var(--clr-black);
}

.scrollbar::-webkit-scrollbar {
	width: 0.5vw;
}

.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--clr-black);
}

.scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: var(--clr-gray);
}

.scrollbar::-webkit-scrollbar-track {
	background-color: var(--clr-black);
}

.scrollbar:hover {
	scrollbar-color: var(--clr-gray) var(--clr-black);
}

/* GENERAL SIDEBAR STYLE */

.sidebar__section {
	display: flex;
	flex-direction: column;

	margin-top: 0.55rem;
}

.section__label {
	padding-block: 0.44rem;
	padding-left: 1.4rem;

	color: var(--clr-lgray);
	font-size: var(--fs-small);
	font-weight: 500;
}

.sidebar__item {
	transition: background-color 100ms ease;
}

.sidebar__item:hover {
	background-color: var(--clr-gray);
	cursor: pointer;
}

.sidebar__container {
	max-height: 100%;
	background-color: var(--clr-black);
	padding-top: 4rem;

	position: fixed;
	top: 0;
	z-index: 2;
	overflow-y: scroll;

	color: var(--clr-white);
	font-weight: 600;
}

/* SIDEBAR-LG STYLE */

.sidebar__container--lg {
	width: 14rem;
}

.sidebar--lg .sidebar__section {
	border-bottom: 1px solid var(--clr-gray);
}

.sidebar--lg .sidebar__item {
	display: flex;
	align-items: center;
	gap: 1.1rem;

	padding-block: 0.25rem;
	padding-left: 1rem;
	font-size: var(--fs-small);

	border-radius: 0.11rem;
}

.sidebar--lg .sidebar__item:last-child {
	margin-bottom: 0.55rem;
}

/* SIDEBAR-SM STYLE */

.sidebar__container--sm {
	display: none;
}

.sidebar__container--sm .sidebar__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.33rem;

	padding: 1rem 0.3rem;
}

/* when sidebar-lg is collapsed, show sidebar-sm */
.toggled .sidebar__container--sm {
	display: flex;
	min-height: 100%;
	width: var(--sidebar-sm-width);

	overflow-y: hidden;

	font-size: var(--fs-very-small);
}

.sidebar__container--sm ~ .chips__container > .chips__button--left {
	left: var(--sidebar-sm-width);
}

.sidebar__container--sm ~ .video-gallery {
	padding-left: calc(var(--sidebar-sm-width) + 1rem);
}

.toggled ~ .sidebar__wrapper > .sidebar__container--lg {
	transform: translateX(-100%);
}

@media (max-width: 1200px) {
	.sidebar__wrapper > .sidebar__container--lg {
		transform: translateX(-100%);
		transition: transform 350ms ease;
	}

	.sidebar__container--sm {
		display: flex;
		min-height: 100%;
		width: var(--sidebar-sm-width);
	
		overflow-y: hidden;
	
		font-size: var(--fs-very-small);
	}

	.toggled ~ .sidebar__wrapper > .sidebar__container--lg {
		transform: translateX(0);
		box-shadow: 0 0 0 9999px rgba(25, 25, 25, 0.5);
	}
}