/* RESET */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* VARIABLES */

:root {
	--clr-vblack: rgb(30, 30, 30);
	--clr-lblack: rgb(53, 53, 53);
	--clr-black: #2c2c2c;
	--clr-white: #f9f9f9;
	--clr-gray: #515151;
	--clr-lgray: #797979;
	
	--fs-very-small: 0.55rem;
	--fs-small: 0.88rem;
	--fs-normal: 1.1rem;
	--fs-medium: 1.5rem;
	--fs-large: 2rem;

	--sidebar-lg-width: 14rem;
	--sidebar-sm-width: 5rem;
}

/* GENERAL STYLING */

body {
	background-color: var(--clr-black);
}

.App {
	min-height: 100vh;
	max-width: 100vw;

	position: relative;

	font-size: var(--fs-normal);
	font-family: 'Roboto', sans-serif;
}

form, 
input {
	color: inherit;
	font-family: inherit;
}

img {
	width: 100%;
	height: auto;
	/* border-radius: inherit; */
}

/* UTILITY CLASSES */

.icon {
	width: 40px;
	padding: 0.5rem;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.flex-align-vertical-center {
	display: flex;
	align-items: center;
}

.main-content {
	display: flex;
	position: relative;
	height: 100vh;
}

/* COLLAPSED PADDING FROM SIDEBAR-SM */

.toggled ~ .chips__container {
	padding-left: var(--sidebar-sm-width);
}

.toggled ~ .chips__container > .chips__button--left {
	left: var(--sidebar-sm-width);
}

.toggled ~ .video-gallery {
	padding-left: calc(var(--sidebar-sm-width) + 1rem);
}